.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(197, 174, 82);
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
}
header {
  width: 100%;
  margin: 0px;

  display: flex;
}
.navbar {
  line-height: 0.5;
}
.title {
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #eae3c9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: large;
  font-family: Impact, sans-serif;
  border-bottom: 1px black;
}
.navbar li {
  float: left;
  border-right: 1px solid rgb(0, 0, 0);
}

.navbar li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}
.navbar .active {
  background-color: #e7e9a9;
}
.navbar li:last-child {
  border-right: none;
}
main {
  padding-top: 100px;
  padding-top: 100px;
  text-align: center;
}

#main_catalog {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 10px 75px;
  width: 100%;
  padding-right: 15px;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}
.catalog_item {
  width: 300px;
}
.product_img {
  height: auto;
  width: 300px;
}
body {
  background-color: #eae3c9;
}
#featured_item {
  display: grid;
  justify-content: center;
}
