.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  text-align: center;
  background-color: antiquewhite;
  border-style: solid;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.oneProduct {
  text-align: center;
}

.item {
  background-color: antiquewhite;
  text-align: center;
  border-style: solid;
}

.item img {
  border-right: solid;
  border-bottom: solid;
  border-left: solid;
}

.products {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.addProduct {
  text-align: center;
  background-color: antiquewhite;
  border-style: solid;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.addProduct form {
  padding-bottom: 1%;
}

.delete {
  text-align: center;
  border-style: solid;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-bottom: 1%;
}

.deleteProduct {
  background-color: antiquewhite;
  text-align: center;
  border-style: solid;
}

.deleteProduct img {
  border-right: solid;
  border-bottom: solid;
  border-left: solid;
}
