.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(197, 174, 82);
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
}
header {
  width: 100%;
  margin: 0px;
  display: flex;
}
.navbar {
  line-height: 0.5;
}
.title {
  overflow: hidden;
  background-color: #eae3c9;
  position: fixed;
  top: -40px;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-family: Impact, sans-serif;
}
.navbar li {
  float: left;
  border-right: 1px solid rgb(0, 0, 0);
}

.navbar li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}
.navbar .active {
  background-color: #e7e9a9;
}
.navbar li:last-child {
  border-right: none;
}
main {
  padding-top: 110px;
  text-align: center;
}

#main_catalog {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 60px 75px;
  width: 100%;
  padding-top: 2%;
  padding-right: 15px;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}
.catalog_item {
  width: 300px;
  border-style: solid;
  background-color: rgb(197, 174, 82);
}
.product_img {
  height: auto;
  width: 300px;
  border-bottom: solid;
  justify-self: start;
}
.product_price {
  font-weight: bolder;
}
body {
  background-color: #eae3c9;
}
#featured_item {
  display: grid;
  justify-content: center;
}
.filters {
  border-style: solid;
  border-color: #111;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
.filters label {
  padding-left: 50px;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
